## Analysis change.org

In [1]:
import pandas as pd
from functools import reduce

In [2]:
df = pd.read_csv('../data-processed/petitionen.csv')
df

,title,description,place,signatures,start_date
0,Verbot von Platzrunden und Sonntagsflügen von ...,Ich wohne direkt neben einem kleinem Sportflug...,Deutschland,53 Unterschriften,Am 29. Juli 2022 gestartet
1,Komplettausbau/-umstrukturierung des ÖPNV für ...,"Wir alle haben bestimmt schon den Fall erlebt,...",Deutschland,53 Unterschriften,Am 16. Mai 2022 gestartet
2,Unterstützt die zukunftsorientierte Entwicklun...,Vogelsberg im Aufbruch: Nachhaltigkeit und Mod...,"Vogelsberg, Deutschland",53 Unterschriften,Am 12. Dezember 2024 gestartet
3,Senken Sie die Geschwindigkeitsüberschreitunge...,Als Anwohner des Kerspeweges und Vater von dre...,"Kierspe, Deutschland",53 Unterschriften,Am 10. Dezember 2024 gestartet
4,Aufhebung des Böllerverbotes 2021/2022,"Das Jahr 2021 war eine Katastrophe, welches wi...",Deutschland,53 Unterschriften,Am 2. Dezember 2021 gestartet
...,...,...,...,...,...
26938,Wir fordern den selben Coronaschutz für Kinder...,Seit über einem Jahr ist der Regierung bekannt...,Deutschland,113 Unterschriften,Am 23. Mai 2021 gestartet
26939,Aufhebung des Verbotes teils auf gehwegen zu p...,Seit neusten werden in Mannheim Zettel an Auto...,Deutschland,113 Unterschriften,Am 27. September 2021 gestartet
26940,Aufenthaltsbestimmungsrecht für mein Sohn,Hallo meine Lieben ich kämpfe seit einiger Zei...,Deutschland,113 Unterschriften,Am 21. Januar 2019 gestartet
26941,"Kinder-, Radfahrer- und Fußgängerfreundliche A...",Die Fußgängerfeindliche Ampel am Ostbahnhof ka...,Deutschland,113 Unterschriften,Am 9. März 2022 gestartet
26942,Ablehnung des geplanten Bauvorhabens „Agrovolt...,Nach Einsicht der veröffentlichten Pläne auf d...,Deutschland,113 Unterschriften,Am 26. Oktober 2022 gestartet

In [3]:
df.shape

(26943, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26943 entries, 0 to 26942
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        26943 non-null  object
 1   description  26943 non-null  object
 2   place        26943 non-null  object
 3   signatures   26943 non-null  object
 4   start_date   26943 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB

### Cleaning

In [5]:
df = df.drop_duplicates(subset=['title'])
df

,title,description,place,signatures,start_date
0,Verbot von Platzrunden und Sonntagsflügen von ...,Ich wohne direkt neben einem kleinem Sportflug...,Deutschland,53 Unterschriften,Am 29. Juli 2022 gestartet
1,Komplettausbau/-umstrukturierung des ÖPNV für ...,"Wir alle haben bestimmt schon den Fall erlebt,...",Deutschland,53 Unterschriften,Am 16. Mai 2022 gestartet
2,Unterstützt die zukunftsorientierte Entwicklun...,Vogelsberg im Aufbruch: Nachhaltigkeit und Mod...,"Vogelsberg, Deutschland",53 Unterschriften,Am 12. Dezember 2024 gestartet
3,Senken Sie die Geschwindigkeitsüberschreitunge...,Als Anwohner des Kerspeweges und Vater von dre...,"Kierspe, Deutschland",53 Unterschriften,Am 10. Dezember 2024 gestartet
4,Aufhebung des Böllerverbotes 2021/2022,"Das Jahr 2021 war eine Katastrophe, welches wi...",Deutschland,53 Unterschriften,Am 2. Dezember 2021 gestartet
...,...,...,...,...,...
26938,Wir fordern den selben Coronaschutz für Kinder...,Seit über einem Jahr ist der Regierung bekannt...,Deutschland,113 Unterschriften,Am 23. Mai 2021 gestartet
26939,Aufhebung des Verbotes teils auf gehwegen zu p...,Seit neusten werden in Mannheim Zettel an Auto...,Deutschland,113 Unterschriften,Am 27. September 2021 gestartet
26940,Aufenthaltsbestimmungsrecht für mein Sohn,Hallo meine Lieben ich kämpfe seit einiger Zei...,Deutschland,113 Unterschriften,Am 21. Januar 2019 gestartet
26941,"Kinder-, Radfahrer- und Fußgängerfreundliche A...",Die Fußgängerfeindliche Ampel am Ostbahnhof ka...,Deutschland,113 Unterschriften,Am 9. März 2022 gestartet
26942,Ablehnung des geplanten Bauvorhabens „Agrovolt...,Nach Einsicht der veröffentlichten Pläne auf d...,Deutschland,113 Unterschriften,Am 26. Oktober 2022 gestartet

In [6]:
df['start_date'] = df['start_date'].str.extract(r"([\d]{4})", expand=False)

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/1004852298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_date'] = df['start_date'].str.extract(r"([\d]{4})", expand=False)

In [7]:
df = df[(df['start_date'] != "2025") & (df['start_date'] > "2017")]

In [8]:
df_place = df

In [9]:
df_place['place'] = df_place['place'].str.replace("Deutschland", "")

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2063904194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_place['place'] = df_place['place'].str.replace("Deutschland", "")

In [10]:
df_place['place'] = df_place['place'].str.replace(",", "")

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/1570757810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_place['place'] = df_place['place'].str.replace(",", "")

In [11]:
df['signatures'] = df['signatures'].str.replace(".", "")

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/3915490936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['signatures'] = df['signatures'].str.replace(".", "")

In [12]:
df['signatures'] = df['signatures'].str.extract(r"([\d]+)", expand=False)

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/1438253519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['signatures'] = df['signatures'].str.extract(r"([\d]+)", expand=False)

In [13]:
df['signatures'] = df['signatures'].astype('int')

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/3604926228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['signatures'] = df['signatures'].astype('int')

In [14]:
df_signatures = df[df['signatures'] > 30000]

In [15]:
df_signatures['place'] = df_signatures['place'].str.replace("Deutschland", "")

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/1140332965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_signatures['place'] = df_signatures['place'].str.replace("Deutschland", "")

In [16]:
df_signatures['place'] = df_signatures['place'].str.replace(",", "")

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2278762231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_signatures['place'] = df_signatures['place'].str.replace(",", "")

In [17]:
df_signatures

,title,description,place,signatures,start_date
120,Werkstätten für Menschen mit Behinderung ohne ...,Werkstätten für Menschen mit Behinderung ohne ...,,52394,2024
121,Stoppen Sie die Abschiebung eines gut integrie...,Die Eltern tot? Das eigene Land geprägt von Te...,Hamburg,52379,2018
122,STOP!!! Das brutale Abschlachten der Delfine i...,"\n \n\n \n\nGuten Tag alle zusammen,\nvor kurz...",,52273,2023
123,An die KBV: Erlauben Sie weiterhin unbegrenzt ...,"Vorweg, um Missverständnissen vorzubeugen: Ich...",,52272,2022
125,Eltern in der Coronakrise nicht im Stich lasse...,Mein Name ist Katharina Mahrt. Im April letzte...,,52076,2020
...,...,...,...,...,...
26723,"Erlauben Sie Razaq Yar, die Ausbildung zum Alt...",Abschiebung von künftigem Altenpflege(helfe)r ...,,32172,2020
26724,Verhindern Sie die Schließung der Stadtteilbib...,Seit der Geburt meiner ältesten Tochter vor 5 ...,,32162,2024
26725,Gegen das 10. Süddeutsche Mops und Bulldoggenr...,Am 03. und 4. September soll das 10. süddeutsc...,,32093,2022
26726,EU - Stoppt die Menschenrechtsverletzungen in ...,Mit großer Sorge beobachte ich und meine polni...,,32066,2020
26892,Kostenloser Schulweg und kostenlose Nutzung de...,Kostenloser Schulweg und kostenlose Nutzung de...,,34198,2024

### Analysis General

In [18]:
# year 
amount_all = df['start_date'].value_counts().reset_index().sort_values(by='start_date')
amount_all

  start_date  count
6       2018   1275
5       2019   1554
4       2020   2583
3       2021   2865
2       2022   3850
1       2023   4093
0       2024   5592

In [19]:
stop = df[df['title'].str.contains(r'(Stop|stop|STOP)', regex=True)]
nein = df[df['title'].str.contains(r'(NEIN |nein )', regex=True)]
gegen = df[df['title'].str.contains(r'(GEGEN |gegen )', regex=True)]
verbieten = df[df['title'].str.contains(r'(verbiete|Verbot|VERBOT|VERBIET)', regex=True)]
rette = df[df['title'].str.contains(r'(RETTE|rette)', regex=True)]
ja = df[df['title'].str.contains(r'(JA |ja )', regex=True)]
für = df[df['title'].str.contains(r'(^Für | für alle| für ALLE)', regex=True)]
besser = df[df['title'].str.contains(r'(BESSER|besser)', regex=True)]

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  stop = df[df['title'].str.contains(r'(Stop|stop|STOP)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  nein = df[df['title'].str.contains(r'(NEIN |nein )', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  gegen = df[df['title'].str.contains(r'(GEGEN |gegen )', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  verbieten = df[df['title'].str.contains(r'(verbiete|Verbot|VERBOT|VERBIET)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  rette = df[df['title'].str.contains(r'(RETTE|rette)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ja = df[df['title'].str.contains(r'(JA |ja )', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  für = df[df['title'].str.contains(r'(^Für | für alle| für ALLE)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_1222/2957775505.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  besser = df[df['title'].str.contains(r'(BESSER|besser)', regex=True)]

In [182]:
len(stop)

1759

In [183]:
len(nein)

84

In [184]:
len(gegen)

517

In [185]:
len(verbieten)

417

In [186]:
len(rette)

153

In [187]:
len(ja)

55

In [188]:
len(für)

745

In [189]:
len(besser)

233

In [190]:
df_stop = stop['start_date'].value_counts().reset_index().sort_values(by='start_date')
df_nein = nein['start_date'].value_counts().reset_index().sort_values(by='start_date')
df_gegen = gegen['start_date'].value_counts().reset_index().sort_values(by='start_date')
df_verbieten = verbieten['start_date'].value_counts().reset_index().sort_values(by='start_date')
df_rette = rette['start_date'].value_counts().reset_index().sort_values(by='start_date')
df_ja = ja['start_date'].value_counts().reset_index().sort_values(by='start_date')
df_für = für['start_date'].value_counts().reset_index().sort_values(by='start_date')
df_besser = besser['start_date'].value_counts().reset_index().sort_values(by='start_date')

In [193]:
df_rette['positiv'] = df_rette['count']+df_ja['count']+df_für['count']+df_besser['count']
df_rette

  start_date  count  positiv
5       2018     20       90
6       2019     15       71
1       2020     25      211
0       2021     27      335
2       2022     24      177
4       2023     20      140
3       2024     22      162

In [195]:
df_mood = df_rette.drop(columns=['count'])
df_mood

  start_date  positiv
5       2018       90
6       2019       71
1       2020      211
0       2021      335
2       2022      177
4       2023      140
3       2024      162

In [196]:
df_mood['negativ'] = df_stop['count']+df_nein['count']+df_gegen['count']+df_verbieten['count']
df_mood

  start_date  positiv  negativ
5       2018       90      191
6       2019       71      158
1       2020      211      691
0       2021      335      777
2       2022      177      414
4       2023      140      247
3       2024      162      299

### Analysis filtered

In [197]:
# year and amount signatures 
amount_sig = df_signatures['start_date'].value_counts().reset_index().sort_values(by='start_date')
amount_sig

  start_date  count
6       2018    102
0       2019    137
1       2020    134
3       2021    122
4       2022    108
2       2023    131
5       2024    103

In [198]:
amount = pd.merge(amount_all,amount_sig, on="start_date",suffixes=('_all', '_filter'))
amount

  start_date  count_all  count_filter
0       2018       1275           102
1       2019       1554           137
2       2020       2583           134
3       2021       2865           122
4       2022       3850           108
5       2023       4093           131
6       2024       5592           103

In [199]:
amount['percentage'] = (amount['count_filter']/amount['count_all'])*100
amount

  start_date  count_all  count_filter  percentage
0       2018       1275           102    8.000000
1       2019       1554           137    8.815959
2       2020       2583           134    5.187766
3       2021       2865           122    4.258290
4       2022       3850           108    2.805195
5       2023       4093           131    3.200586
6       2024       5592           103    1.841917

### common words analysis - support against vs. for

In [200]:
stop_sig = df_signatures[df_signatures['title'].str.contains(r'(Stop|stop|STOP)', regex=True)]
nein_sig = df_signatures[df_signatures['title'].str.contains(r'(NEIN |nein )', regex=True)]
gegen_sig = df_signatures[df_signatures['title'].str.contains(r'(GEGEN |gegen )', regex=True)]
verbieten_sig = df_signatures[df_signatures['title'].str.contains(r'(verbiet|Verbot|VERBOT|VERBIET)', regex=True)]
rette_sig = df_signatures[df_signatures['title'].str.contains(r'(RETTE|rette)', regex=True)]
ja_sig = df_signatures[df_signatures['title'].str.contains(r'(JA |ja )', regex=True)]
für_sig = df_signatures[df_signatures['title'].str.contains(r'(Für | für alle| für ALLE)', regex=True)]
besser_sig = df_signatures[df_signatures['title'].str.contains(r'(BESSER|besser)', regex=True)]

/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  stop_sig = df_signatures[df_signatures['title'].str.contains(r'(Stop|stop|STOP)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  nein_sig = df_signatures[df_signatures['title'].str.contains(r'(NEIN |nein )', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  gegen_sig = df_signatures[df_signatures['title'].str.contains(r'(GEGEN |gegen )', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  verbieten_sig = df_signatures[df_signatures['title'].str.contains(r'(verbiet|Verbot|VERBOT|VERBIET)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  rette_sig = df_signatures[df_signatures['title'].str.contains(r'(RETTE|rette)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ja_sig = df_signatures[df_signatures['title'].str.contains(r'(JA |ja )', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  für_sig = df_signatures[df_signatures['title'].str.contains(r'(Für | für alle| für ALLE)', regex=True)]
/var/folders/93/ffjltmpn7wb5fs3ksd8vx1xh0000gn/T/ipykernel_15975/2152492701.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  besser_sig = df_signatures[df_signatures['title'].str.contains(r'(BESSER|besser)', regex=True)]

In [201]:
len(stop_sig)

135

In [202]:
len(stop_sig)/len(stop)*100

7.674815235929505

In [203]:
len(nein_sig)

7

In [204]:
len(nein_sig)/len(nein)*100

8.333333333333332

In [205]:
len(gegen_sig)

30

In [206]:
len(gegen_sig)/len(gegen)*100

5.802707930367505

In [207]:
len(verbieten_sig)

32

In [208]:
len(verbieten_sig)/len(verbieten)*100

7.673860911270983

In [209]:
len(rette_sig)

21

In [210]:
len(rette_sig)/len(rette)*100

13.725490196078432

In [211]:
len(ja_sig)

2

In [212]:
len(ja_sig)/len(ja)*100

3.6363636363636362

In [213]:
len(für_sig)

46

In [214]:
len(für_sig)/len(für)*100

6.174496644295302

In [215]:
len(besser_sig)

3

In [216]:
len(besser_sig)/len(besser)*100

1.2875536480686696

#### Safe results

In [217]:
amount.to_csv('../data-processed/amount.csv')

In [218]:
df_mood.to_csv('../data-processed/mood.csv')